extends layout

block content
  if user != undefined
    h1 #{user.username} is logged in
    a(href='/user/logout') log out
  else
    h1 Log In
    p= message

    form(action='' method='POST')
      div(class='form-group col-md-6')
        label(for='username' class='form-check-label') Username
        input(type='text' class='form-control form-control-sm' name='username' autocomplete='off')
        label(for='password' class='form-check-label') Password
        input(type='password' class='form-control form-control-sm' name='password' autocomplete='off')
        br
        input(type='submit' class='btn btn-primary' value='submit')

    a(href='/user/sign-up') not a member? Sign-up here

